
#board {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(3, 200px);
    grid-template-rows: repeat(3, 200px);
    gap: 15px;
    justify-content: center;
    align-items: center;
    background-color: rgb(8, 124, 41);
    margin: 0 auto;
    position: relative;
    background-image: url(./Images/foto\ mantel\ mexicano);
}


.board-item {
    
    padding: 10px;
    height: 140px;
    width: 140px;
    position: absolute;
    top: 130px;
    position: relative;
    border-radius: 50%;
    background-image: url(./Images/Imagen\ plato);
    background-size: cover;
    
}

.avocado{
    
    height: 100px;
    width: 100px;
    position: absolute;
    left: 30px;
    top: 20px;
    visibility: hidden;
    background-image: url(./Images/aguacate\ chulo\ bien);
    background-size: cover;
    border-radius: 40%;
}

.avocadosmashed{
    background-image: url(./Images/mancha\ verde);
    background-size: cover;
}
