
#board {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(3, 200px);
    grid-template-rows: repeat(3, 200px);
    gap: 15px;
    justify-content: center;
    align-items: center;
    background-color: green;
    margin: 0 auto;
    
}

.board-item {
    background-color: aqua;
    padding: 10px;
    height: 140px;
    width: 140px;

}



